* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #323232;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #323232;
  font-size: 1.5em;
  font-weight: 600;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.row {
  display: flex;
}

.side {
  flex: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 75%;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

#colorBox {
  background-color: #000;
  color: #fff;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  font-size: 24pt;
  font-weight: 600;
  font-family: Consolas;
  border-radius: 4%;
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sliders div {
  width: 100%;
  padding: 0px 10px;
  margin-top: 20px;
  font-weight: 600;
}

.tab-header {
  display: flex;
}

h3 {
  text-align: center;
  color: #bbb;
  font-weight: 400;
  cursor: pointer;
  margin-right: 30px;
}

.selected {
  font-weight: 600;
  color: #323232;
}

.tab-content > div {
  display: none;
}

.tab-content .show {
  display: block;
}

.color-grid {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.color-cell {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
  box-sizing: border-box;
}

.color-cell:before {
  content: "";
  display: table;
  padding-top: 100%;
}

.color-item {
  flex-grow: 1;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}
