.tint-slider {
  appearance: none;

  height: 15px;
  background: #0081ed;
  outline: none;
  border-radius: 30px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.tint-slider:hover {
  opacity: 1;
}

.tint-slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #005ca9;
  cursor: pointer;
}

input[type="text"] {
  width: 60px;
  height: 40px;
  padding: 0px 12px;
  margin: 0px 20px 0px 5px;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
}
