.tint-slider {
  appearance: none;

  height: 15px;
  background: #0081ed;
  outline: none;
  border-radius: 30px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.tint-slider:hover {
  opacity: 1;
}

.tint-slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #005ca9;
  cursor: pointer;
}

input[type="number"] {
  width: 60px;
  height: 40px;
  padding: 0px 12px;
  margin: 0px 20px 0px 5px;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
  appearance: textfield;
  border: 1px solid #323232;
  border-radius: 5px;
}

/* Chrome */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  border: 2px solid #005ca9;
}
